{% extends '/base.html.twig' %}
{% block content %}
<div class='blog_content'>
    <a href="{{ path('blog') }}" class='back_link'>Go to blogs</a>
    <p>This is blog number: {{id}}</p>
</div>
{% endblock %}